<html>
<head>
    <title>sendFrom</title>
</head>
<body>
    <form accept="/sendfrom" method="post">
        <!-- <input type="text" name="recvAddr" placeholder="recvAddr"/> -->
        <select class="recvAddr" name="recvAddr">
            <% users.forEach((user, index) => { %>
                <option value="<%= user.addr %>"><%= user.id %></option>
            <% }) %>
        </select>
        <input type="text" name="coinCount" placeholder="coinCount"/>
        <input type="submit" value="send"/>
    </form>
</body>
</html>