<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="/styles/signup.css"/>
    <link rel="shortcut icon" href="/images/timo.ico" type="image/x-icon">
    <link rel="icon" href="/images/timo.ico" type="image/x-icon">
</head>
<body>
    <%- include('title') %>
    <div class="container">
        <h1>Sign In</h1>
        <form action="/signin" method="POST" id="signInForm" name="signin">
            <div class="inp_section">
                <input type="text" id="id" name="id" maxlength="15" autocomplete="off" required>
                <label>ID</label>
            </div>
            <div class="inp_section">
                <input type="password" id="password" name="password" maxlength="20" autocomplete="off" required>
                <label>PASSWORD</label>
            </div>
            <div class="btn">
                <button type="submit" id="signInBtn">SIGN IN</button>
            </div>
        </form>
    </div>
</body>
</html>