<div class="navbar">
    <div class="navbar_logo">
        <a href="/">
            <img src="/images/timo.png">
        </a>
    </div>
    <ul class="navbar_menu">
        <li><a href="#">wallet</a></li>
        <li><a href="/exchange">exchange</a></li>
        <li><a href="#">explorer</a></li>
        <form class="search_form">
            <i class="fas fa-search search_i"></i>
            <input class="search" type="text" placeholder="Search by Block#">
        </form>
        <li><a href="/signin">Sign In</a></li>
        <li><a href="/signup">Sign Up</a></li>
        <!-- <li><a href="#">Logout</a></li> -->
    </ul>
    <a href="#" class="navbar__toogleBtn">
        <i class="fas fa-bars"></i>
    </a>
</div>
<link rel="stylesheet" href="/styles/title.css"/>
<script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
<script src="/javascripts/title.js"></script>